body{
    background-image: url("Asesoria.jpg"); 

}

div {
    height: 150px;
    width: 1800px;
    opacity: 0.7;
    transform: translate(-10px,-10px);
    border-style: ridge;
    border-width: medium;
    background-color: #2828B0;
  }

h6{
    transform: translate(1250px,-185px);
}

h5{
    transform: translate(500px,-300px);
}

h1{
    transform: translate(100px,10px);
    width:210px;
    margin: 0% ;
    border: 2px solid black;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: cornsilk;
    font-size: 30px;
    transform: translate(0px,10px);
}
h3{
    transform: translate(100px,100px);
}
a.two:link{color: blue; background-color: cornsilk;}
a.two:hover{font-size: 150%;}

table{
    border-collapse: collapse;
    width: 60%;
    transform: translate(500px,-200px);
}

th, td{
    color: blanchedalmond ;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

h4{
    font-size: 20px;
    color: cornsilk;
    width:410px;
    margin: 0% ;
    border: 1px solid grey;
    transform: translate(500px,-200px);

}


